{# =============================== EXT & LOADS  =============================== #}
{% extends "base.html" %}
{% load static tz widget_tweaks %}  { sigue cargado por si lo usas en otra vista #}

{% block title %}Registro · Ca’Bigote{% endblock %}

{# =============================== CONTENT  ======================================= #}
{% block content %}
{% localtime on %}

{# -- contenedor fluido para que el formulario pueda crecer en pantallas grandes ---- #}
<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-12 col-xl-12">

      {# =========================== MAIN CARD  ============================ #}
      <div class="card shadow-sm">
        <div class="card-header gradiente-header text-center">
          <h4 class="mb-0">
            <i class="fas fa-user-plus text-primary me-2"></i> Crear Cuenta
          </h4>
        </div>

        {# =========================== FORM  =============================== #}
        <form method="post"
              class="needs-validation animate-on-load"
              novalidate>

          {% csrf_token %}

          {% if form.errors %}
            <div class="alert alert-error">
                <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
          {% endif %}

          {# ----------------------- NAME  ------------------------------------ #}
          <div class="mb-3">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
            {{ form.nombre.errors }}
          </div>

          {# ----------------------- LAST NAME  ---------------------------------- #}
          <div class="mb-3">
            {{ form.apellido.label_tag }}
            {{ form.apellido }}
            {{ form.apellido.errors }}
          </div>

          {# ----------------------- USERNAME  ----------------------------------- #}
          <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
          </div>

          {# ----------------------- EMAIL  -------------------------------------- #}
          <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
          </div>

          {# ----------------------- telf  ----------------------------------- #}
          <div class="mb-3">
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {{ form.phone.errors }}
          </div>

          {# ----------------------- PASSWORD 1  --------------------------------- #}
          <div class="mb-3">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {{ form.password1.errors }}
          </div>

          {# ----------------------- PASSWORD 2  --------------------------------- #}
          <div class="mb-3">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {{ form.password2.errors }}
          </div>

          {# -----------------------  CAPTCHA  ------------------------------------ #}
          <div class="mb-3">
            {{ form.captcha.label_tag }}
            <div class="input-group">
              <span class="input-group-text p-0 border-0 bg-transparent">
                {{ form.captcha.image }}
              </span>
              {{ form.captcha }}
            </div> 
            <div class="invalid-feedback d-block">{{ form.captcha.errors }}</div>
          </div>

          {# ----------------------- BTN SUBMIT  ------------------------------- #}
          <button type="submit" class="btn btn-primary btn-lg w-100">
            Registrarse
          </button>
        </form>
      </div>

      {# ======================  LINKS  ============================ #}
      <div class="card bg-light border-0 text-center mt-3 p-2 shadow-sm">
        <div class="text-center mt-4">
          <p class="mb-2">¿Ya tienes cuenta?</p>
          <a href="{% url 'users:login' %}"
             class="btn btn-primary btn-login btn-sm me-2 m-3 w-sm-auto">
            <i class="fas fa-sign-in-alt"></i> Ya tengo cuenta
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endlocaltime %}
{% endblock %}
