{% load static %}
{% load static i18n %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO & Social -->
    <meta name="description" content="Barbería Ca'Bigote: Servicios de alta calidad para tu cuidado personal. Reserva tu cita hoy.">
    <meta name="keywords" content="barbería, cuidado personal, corte de pelo, afeitado, estilo, Ca'Bigote">
    <meta name="author" content="Jose Felix Gordo Castaño">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="Ca'Bigote © 2024">
    <meta property="og:title" content="Barbería Ca'Bigote">
    <meta property="og:description" content="Barbería Ca'Bigote: Servicios de alta calidad para tu cuidado personal.">
    <meta property="og:image" content="{% static 'imagenes/logo-cb.jpg' %}">
    <meta name="twitter:card" content="summary_large_image">

    <!-- PWA & Theme -->
    <meta name="theme-color" content="#1C8EDF">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Ca'Bigote">
    <meta name="msapplication-TileColor" content="#1C8EDF">
    <meta name="msapplication-TileImage" content="{% static 'imagenes/logo-cb.jpg' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">

    <title>{% block title %}Ca´Bigote{% endblock %}</title>

    <!-- Favicons & App Icons -->
    <link rel="icon" type="image/x-icon" href="{% static 'imagenes/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'imagenes/logo-cb.jpg' %}">

    <!-- Bootstrap CSS -->
    <link rel="dns-prefetch" href="//stackpath.bootstrapcdn.com">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="preload" href="{% static 'css/styles.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Fonts & Icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Holtwood+One+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

    <!-- Visitors Counter -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/themes/odometer-theme-default.min.css">
</head>

    <body >
         <!-- Superposición dark -->
        <div id="overlay" class="overlay"></div>
        <!-- Loading spinner -->
        <div id="loader" class="visible"></div>

        <!-- Cookie modal -->
        <div class="modal fade" id="cookiesModal" tabindex="-1" role="dialog" aria-labelledby="cookiesModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cookiesModalLabel">Política de Cookies</h5>
                    </div>
                    <div class="modal-body">
                        <p>Este sitio utiliza cookies para mejorar su experiencia. Al continuar navegando, aceptas el uso de cookies. Puedes encontrar más información en nuestra <a href="#" id="privacyPolicyLink">política de privacidad</a>.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Rechazar</button>
                        <button type="button" class="btn btn-primary">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de Política de Privacidad -->
        <div class="modal fade" id="privacyPolicyModal" tabindex="-1" role="dialog" aria-labelledby="privacyPolicyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="privacyPolicyModalLabel">Política de Privacidad</h5>
                    </div>
                    <div class="modal-body">
                        <p> Política de Privacidad<br>
                            En Cabigote, nos comprometemos a proteger la privacidad de nuestros usuarios y a cumplir con las leyes y regulaciones aplicables en materia de protección de datos personales.
                        </p>
                            <br>
                        <p>
                            Uso de Cookies<br>
                            Nuestro sitio web utiliza cookies para mejorar su experiencia de navegación y recopilar información sobre su actividad en la página web. Las cookies son archivos de texto o paquetes de datos que se almacenan en su navegador y que nos permiten recopilar información sobre su visita, como la fecha y hora de acceso, el tipo de navegador y sistema operativo utilizado.. 
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column min-vh-100">  
            <header>
                <!-- Iconos Sociales -->
                <div class="ml-auto d-flex align-items-center">
                    <a href="https://www.facebook.com/p/Barberia-CaBigote-100030635576349/?locale=es_LA" class="text-white mx-2 social-icon" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/barberiacabigote/?hl=es" class="text-white mx-2 social-icon" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com" class="text-white mx-2 social-icon" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>   

                <!--  Mensaje especial -->
                {% if special_message %}
                <div class="modal fade" id="specialMessageModal" tabindex="-1" aria-labelledby="specialMessageModalLabel" aria-hidden="true" data-message-id="{{ special_message.id }}">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Encabezado del modal -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="specialMessageModalLabel">
                                    {{ special_message.titulo|default:"¡Atención!" }}
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <!-- Cuerpo del modal -->
                            <div class="modal-body">
                                {{ special_message.contenido|safe }}
                            </div>
                            <!-- Pie del modal (opcional) -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!--  Título header -->
                <div class="container mt-5 mb-5">
                    <h1 class="text-center">
                        <img src="{% static 'imagenes/barber-pole.png' %}" alt="Barber pole icon" class="icon">
                        <span class="title-font">Ca´Bigote</span>
                        <img src="{% static 'imagenes/barber-pole.png' %}" alt="Barber pole icon" class="icon">
                    </h1>  
                </div>       
                <!--  Navegación -->
                <nav class="navbar navbar-expand-lg navbar-dark rounded">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'imagenes/logo-cb.jpg' %}" alt="Logo de Ca'Bigote" class="rounded-circle" style="height: 65px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav mt-3">
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/es/' %}active{% endif %}" href="{% url 'home' %}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/es/appointments/reservar/' %}active{% endif %}" href="{% url 'appointments:reservar_cita' %}">Citas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/es/services/' %}active{% endif %}" href="{% url 'services:ver_servicios' %}">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/es/reviews/' %}active{% endif %}" href="{% url 'reviews:ver_resenas' %}">Reseñas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/es/products/imagenes/' %}active{% endif %}" href="{% url 'products:ver_imagenes' %}">Productos</a>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link {% if request.path == '/es/users/perfil/' %}active{% endif %}" href="{% url 'users:perfil_usuario' %}">Perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'users:logout' %}">Salir</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link {% if request.path == '/es/users/login/' %}active{% endif %}" href="{% url 'users:login' %}">Acceder</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>                
            </header>

            <main class="flex-fill">
                <!-- Mensaje -->
                {% if messages %}
                <div class="container mt-3 animate-on-load">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-12">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} text-center">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% block content %}
                <!-- Contenido templates -->
                {% endblock %}
            </main>
            <footer class="primary-color text-white-50 py-4">
                <div class="container">
                    <div class="row">
                        <!-- Sección Sobre Nosotros -->
                        <div class="col-md-4">
                            <h5 class="text-white text-center">Sobre Nosotros</h5>
                            <p>Ca'Bigote es una barbería moderna con un toque clásico. Nos dedicamos a ofrecer los mejores cortes y afeitados con la mejor atención al cliente.</p>
                        </div>
            
                        <!-- Enlaces Rápidos -->
                        <div class="col-md-4">
                            <h5 class="text-white">Enlaces Rápidos</h5>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'home' %}" class="text-white-50">Inicio</a></li>
                                <li><a href="{% url 'services:ver_servicios' %}" class="text-white-50">Servicios</a></li>
                                <li><a href="{% url 'appointments:reservar_cita' %}" class="text-white-50">Reservar Cita</a></li>
                                <li><a href="{% url 'products:ver_imagenes' %}" class="text-white-50">Productos</a></li>
                            </ul>
                            <!-- Modal links -->
                            <span class="mb-5"> 
                            </span>   
                        </div>
            
                        <!-- Mapa / Ubicación -->
                        <div class="col-md-4 text-center">
                            <h5 class="text-white">Ubicación</h5>
                            <div class="map-container mb-2">
                                <iframe 
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3490.4957479491627!2d-13.558574623952396!3d28.972677268552072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc46276f9ab656d9%3A0x41c1eb89e4d41c84!2sC.%20el%20Rafael%2C%2043%2C%2035500%20Arrecife%2C%20Las%20Palmas!5e0!3m2!1ses!2ses!4v1741366191645!5m2!1ses!2ses"
                                    allowfullscreen
                                    loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                            </div>
                        </div>
                    </div>

                    <!-- Visitors -->
                    <div class="visits-counter-card">
                        <div class="counter-icon animate-icon">
                          <i class="fas fa-user-friends"></i>
                        </div>
                        <div id="odometer" class="odometer animate-on-load">{{ contador_actualizado|default:contador_global }}</div>
                        <div class="counter-label">Visitas Totales</div>
                    </div>                      
                    
            
                    <hr class="border-light">
                    <!-- Copyright -->
                    <div class="row mt-3">
                        <div class="col text-center">
                            <p class="mb-0">&copy; 2024 Ca´Bigote. Todos los derechos reservados.</p>
                            <p class="mb-0">
                                Desarrollado <i class="bi bi-code-slash text-info"></i> por 
                                <a href="https://josefe.eu.pythonanywhere.com/" target="_blank" class="text-decoration-none fw-bold text-info">JFGC</a>
                              </p>                              
                        </div>
                    </div>
                </div>
            </footer>            
            
            <!-- BTN flotante de WhatsApp -->
            <a href="https://wa.me/+34659809165" target="_blank" class="whatsapp-float">
                <i class="fab fa-whatsapp whatsapp-icon"></i>
            </a>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-zoom@1.7.21/jquery.zoom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/odometer.min.js"></script>

        <!-- Scripts personalizados-->
        <script src="{% static 'js/Loader.js' %}"></script>
        <script src="{% static 'js/Cookies_modal.js' %}"></script>
        <script src="{% static 'js/Animations.js' %}"></script>
        <script src="{% static 'js/historial-citas.js' %}"></script>
        <script src="{% static 'js/special_message.js' %}"></script>
    </body>
</html>