{% extends "base.html" %}

{% block title %}Servicios - Cabigote Barber Shop{% endblock %}

{% block content %}
<div class="container mb-5 mt-5">
    <div class="card shadow-sm bg-light text-center p-3 border-0">
        <h2 class="h4 fw-bold mb-0">
            <i class="fas fa-cut me-2 text-primary"></i> Servicios
        </h2>
    </div>    

    <div class=" mt-5 row g-4 animate-on-load">
        {% if servicios|length == 1 %}
            <!-- Si solo hay un servicio, hacer que ocupe toda la fila -->
            <div class="col-12 d-flex justify-content-center">
                <div class="card" style="max-width: 600px; width: 100%;">
                    {% if servicio.imagen %}
                        <img src="{{ servicio.imagen.url }}" alt="{{ servicio.nombre }}" loading="lazy" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ servicio.nombre }}</h5>
                        <p class="card-text">{{ servicio.descripcion }}</p>
                        <p class="card-text"><strong>Precio:</strong> {{ servicio.precio }} €</p>
                    </div>
                </div>
            </div>
        {% else %}
            <!-- Si hay varios servicios, mostrar en columnas -->
            {% for servicio in servicios %}
                <div class="col-md-6 col-lg-4 mt-5">
                    <div class="card">
                        {% if servicio.imagen %}
                            <img src="{{ servicio.imagen.url }}" alt="{{ servicio.nombre }}" loading="lazy" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ servicio.nombre }}</h5>
                            <p class="card-text">{{ servicio.descripcion }}</p>
                            <p class="card-text"><strong>Precio:</strong> {{ servicio.precio }} €</p>
                            <a href="{% url 'appointments:reservar_cita' servicio.id %}" class="btn btn-primary">Reservar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
